spring:
  datasource:
    #    MVCC 넣어주는건 권장
    url: jdbc:h2:tcp://localhost/~/jpashop
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
#    show_sql: true
#    system out으로 찍는거임


logging:
    level:
      org.hibernate.SQL: debug

